<!-- Mini Posts -->
<section>
  <div class="mini-posts">
    <!-- Mini Post -->
    <h3>Recent Posts</h3>
    {% for post in site.posts limit: 3 %}
      <article class="mini-post">
        <header>
          <h3><a href="{{ post.url }}">{{ post.title }}</a></h3>
          <time class="published" datetime="{{ post.date }}">{{ post.date | date: "%b %-d, %Y" }}</time>
          <a href="#" class="author">
            <img src="{{ site.author.avatar | prepend: site.baseurl }}" alt="author thumbnail" />
          </a>
        </header>
        {% if post.featured %}
        <a href="{{ post.url }}" class="image">
          {% if post.featured contains 'https://' or post.featured contains 'http://' %}
          <img src="{{ post.featured }}" alt="" />
          {% else %}
          <img src="{{ post.featured | prepend: site.baseurl }}" alt="" />
          {% endif %}
        </a>
        {% endif %}
      </article>
    {% endfor %}
  </div>
</section>