<!-- Menu -->
<section id="menu">

  <!-- Search -->
  <section>
    <form class="search" method="get" action="{{ "/search" | prepend: site.baseurl }}">
      <input type="text" name="query" placeholder="Search" />
    </form>
  </section>

  <!-- Links -->
  <section>
    <ul class="links">
      <li>
        <a href="{{ "/about" | prepend: site.baseurl  }}">
          <h3>About</h3>
          <p>biography</p>
        </a>
      </li>
    </ul>
  </section>

  <!-- Actions -->
  <!-- <section>
			<ul class="actions vertical">
				<li><a href="#" class="button big fit">Log In</a></li>
			</ul>
		</section> -->

</section>
